<!doctype html>
<html>
  <head>
    <title>
      CookieFlag Console
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit-icons.min.js"></script>
  </head>
  <body>
    <div class="uk-container">
      <%= yield %>
    </div>
  </body>
</html>
