<!doctype html>
<html>
  <head>
    <title>
      CookieFlag Console
    </title>
    <%= stylesheet_link_tag "cookie_flag/application" %>
    <%= javascript_include_tag "cookie_flag/application" %>
  </head>
  <body>
    <div class="uk-container">
      <%= yield %>
    </div>
  </body>
</html>
